body {
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: #28A745;
}

.logo{
  width: 86px;
}

.card{
  font-family: 'Roboto', sans-serif;
  color: #707070;
  font-size: 13px;
  font-weight: lighter;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.card-link1{
  color: #707070;
  font-size: 16px;
  font-weight: lighter;
  text-align: right;
}
.card-link2{
  color: #28A745;
  font-size: 20px;
  font-weight:500;
  text-align: right;
}
.card h5{
  font-size: 20px;
  font-weight: lighter;
  color: #212529;
}
.card p{
  font-size: 16px;
  font-weight: lighter;
  color: #707070;
}

section h1{
  font-family: 'Roboto', sans-serif;
  color: #707070;
  text-align: center;
  font-size: 60px;
}

form{
  font-family: 'Roboto', sans-serif;
  background-color: #28A745;
  width: 1280px;
  margin: 0 auto;
}
.form-group{
  color: #707070;
  font-size: 16px;
  font-weight: lighter;
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  border: 1px;
}

h2{
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-top: -25px;
  margin-bottom: 15px;
}
button{
  font-family: 'Roboto', sans-serif;
  color: #212529;
  font-size: 16px;
  font-weight: 500;
  background-color:#F8F9FA;
  border-color:#DDDDDD;
  border: 1px;
}

footer{
  font-family: 'Roboto', sans-serif;
  background-color: ##212529;
  margin-top: 10px;
}

.logo-negro{
  width: 82px;
  margin-top: 24px;
  align-content: center;
}
.legal{
  color: #707070;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 22px;
}
